/* Base Application Styles */
body {
  color: #000;
  background: #fff;
  margin-top: -40px;
}

.main-container {
}

.list-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  cursor: pointer;
}

.issue-row:hover {
  background-color: lightgrey;
}

.flex-column {
  flex-direction: column;
  display: flex;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.flex1 {
}

.section1 {

}

.section2 {

}

.section3 {

}

.avatar {

}


.username {
  margin: auto;
  padding: 4px;
  width: 120px;
}

.title {
  width: 370px;
  padding: 5px;
}

.issue-number {
  width: 50px;
  padding: 5px;
}

.labels {
  width: 200px;
  padding: 5px;
}

.description {
  width: 100%;
  padding: 5px;
}

.header {
  color: #FFFFFF;
  background-color: #F56400;
}

#octo #cat { fill: #fff }
#octo { position: fixed; height: 24%; width: 106%; top: 50%; }
#octo .part {
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  fill: #333;
}

#octo #part1 { animation-delay: 0.000s }
#octo #part2 { animation-delay: 0.125s }
#octo #part3 { animation-delay: 0.250s }
#octo #part4 { animation-delay: 0.375s }
#octo #part5 { animation-delay: 0.500s }
#octo #part6 { animation-delay: 0.625s }
#octo #part7 { animation-delay: 0.750s }
#octo #part8 { animation-delay: 0.875s }

@keyframes fade {
  0%,25%  { fill: #fff }
  50%,75% { fill: #333 }
}